venv/
__pycache__/
*.pyc
env/
.env
node_modules/
dist/
build/
/.dart_tool/
/.vscode/
/.idea/
*.sqlite3
*.log
.venv/
.next/
/.sass-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
/.pytest_cache/
/.DS_Store
!.env.example
PROJECT_BLUEPRINT.md
